page-history-details {
  
        ion-card-header {
          text-align: center;
        }
      
        .add-guest-form {
          button {
            margin-top: 16px;
          }
        }
      
        .profitable {
          color: #22BB22;
        }
      
        .no-profit {
          color: #FF0000;
        }
      
}
