<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title> Promotion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/imgs/promo.svg"></ion-img>

  <ion-list-header style="margin-top: 10%">
    <ion-label color="primary" class="ion-text-center">
      <h1>No Promo yet</h1>
      <p>unfortunately we have no promos yet.</p></ion-label>
</ion-list-header>
</ion-content>
