ion-avatar {
    width: 128px;
    height: 128px;
    animation-name: slide-top;
    animation-duration: 0.5s;
  }
  
  .preview {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .fallback {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background: #bfbfbf;
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }


  @keyframes slide-top {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .slide-top {
      animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  ion-item{
    animation-name: slide-top;
    animation-duration: 0.5s;
  }


  
  