// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$myUrl: '../assets/img/logo-bg.png';

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #5F96F5,
  secondary:  rgba(255, 255, 255, 0.92),
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #E2E2E2,
  doom:       #BBBBBB,
  nav-border-bottom: rgba(190, 188, 188, 0.93),
  nav-color: rgb(253, 253, 253),
  bar-color: #FFFFFF,
  deep: #535252,
  gery: rgba(25, 196, 84, 0.91),
  toper:    rgba(164, 190, 233, 0.28),
  doper:    rgba(19, 38, 72, 0.46),
  lighters: rgba(91, 144, 233, 0.28)
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
