page-card {
    form {
        margin-bottom: 32px;
        button {
          margin-top: 20px !important;
        }
      }
    
      p {
        font-size: 0.8em;
        color: #d2d2d2;
      }
    
      ion-label{
        text-align: center;
      }
    
      ion-input {
        padding: 5px;
      }
    
      .invalid {
        border: 1px solid #FF6153;
      }
    
      .error-message .item-inner {
        border-bottom: 0 !important;
      }
}
